<!-- Footer Start -->
<footer class="footer border-top ptb--40 ptb-md--30">
  <div class="container">
    <div class="row mb--40 mb-md--30">
      <div class="col-lg-4 col-md-6 mb-md--30">
        <div class="footer-widget">
          <h3 class="widget-title">How to find us?</h3>
          <div class="widget-content mb--20">
            <p>
              Address: Calea Griviței 202, BUCUREȘTI
            </p>
            <div class="col-lg-8 d-flex align-items-center flex-column flex-lg-row">
          <ul class="social social-round mr--20">
            <li class="social__item">
              <a href="http://twitter.com" class="social__link__twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="social__item">
              <a href="plus.google.com" class="social__link__google">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li class="social__item">
              <a href="https://www.facebook.com/metanoiamasks" class="social__link__facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="social__item">
              <a href="http://youtube.com" class="social__link__youtube">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
            <li class="social__item">
              <a href="https://www.instagram.com/metanoia_masks/" class="social__link__instagram">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-md--30">
        <div class="footer-widget">
          <h3 class="widget-title">Information</h3>
          <ul class="widget-menu">
            <li><a href="{% url 'core:about' %}">About Us</a></li>
            <li><a href="">Delivery Information</a></li>
            <li><a href="{% url 'core:privacy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'core:terms' %}">Terms &amp; Conditions</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-sm--30">
        <div class="footer-widget">
          <h3 class="widget-title">Extras</h3>
          <ul class="widget-menu">
            <li><a href="">Brands</a></li>
            <li><a href="{% url 'core:refunds' %}">Returns</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget">
          <h3 class="widget-title">New this week</h3>
          <div class="widget-product">
            {% if item in object_list %}
            <div class="product">
              <div class="product-img">
                <img src="{{ item.image.url }}"alt="products" />
              </div>
              <div class="product-content">

                <h4 class="product-title">
                  <a href="{{ item.get_absolute_url }}" tabindex="0">{{ item.title }}</a>
                </h4>
                <div class="product-price-wrapper">
                  <span class="money">{{ item.price }}</span>
                </div>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
    <div class="row mb--40 mb-md--30">
      <div class="col-12">
        <ul class="footer-menu">
          <li><a href="">Home</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms Of Use</a></li>
          <li><a href="">Contacts</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p class="copyright-text">
          Copyright &copy; 2020 <a href="#">Metanoia</a>
        </p>

      </div>
    </div>
  </div>
</footer>
</div>
<!-- Footer End -->
