{% extends "base.html" %} {% load static %} {% block content %}

<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
  <div class="single-products-area section-padding section-md-padding">
    <div class="container">
      <!-- Single Product Start -->
      <section class="mirora-single-product pb--80 pb-md--60">
        <div class="row">
          <div class="col-lg-12 mb--30">
            <div class="row gallery-row">
              <div class="col-sm-6 mb--20">
                <div class="product-details-gallery-img">
                  <img
                    src="{% static 'assets/img/blog/pic2.JPG' %}"
                    alt="product"
                  />
                </div>
              </div>

              <div class="col-sm-6 mb--20">
                <div class="product-details-gallery-img">
                  <img
                    src="{% static 'assets/img/blog/pic3.JPG' %}"
                    alt="product"
                  />
                </div>
              </div>

              <div class="col-sm-6 mb--20">
                <div class="product-details-gallery-img">
                  <img
                    src="{% static 'assets/img/blog/pic4.JPG' %}"
                    alt="product"
                  />
                </div>
              </div>

              <div class="col-sm-6 mb--20">
                <div class="product-details-gallery-img">
                  <img
                    src="{% static 'assets/img/blog/pic5.JPG' %}"
                    alt="product"
                  />
                </div>
              </div>

              <div class="col-sm-6 mb--20">
                <div class="product-details-gallery-img">
                  <img
                    src="{% static 'assets/img/blog/pic6.JPG' %}"
                    alt="product"
                  />
                </div>
              </div>

              <div class="col-sm-6 mb--20">
                <div class="product-details-gallery-img">
                  <img
                    src="{% static 'assets/img/blog/pic7.jpg' %}"
                    alt="product"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Single Product End -->
    </div>
  </div>
</div>
<!-- Main Content Wrapper End -->
<div class="elfsight-app-e7c64518-d59b-40df-af45-b929699d7d8d"></div>
{% endblock content %}
