{% extends "base.html" %} {% load static %} {% block content %}
<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
  <!-- Slider area Start -->

  <div class="slider-area">
    <div class="homepage-slider">
      <!-- Single Slide Start -->
      <div class="single-slider content-v-center" style="background-image: {% static 'assets/img/banner/banner1.jpg' %}">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img src="{% static 'assets/img/banner/banner4.jpeg' %}" />
            </div>
          </div>
        </div>
      </div>
      <!-- Single Slide End -->
    </div>
  </div>

  <!-- Slider area End -->
  <!-- Most Viewed Product area Start -->
  <section class="mostviewed-product-area border-bottom pt--80 pb--60 pt-md--60 pb-md--50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title mb--15">
            <h2 class="color--black">Most Recent Products</h2>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-12">
          <div class="product-carousel nav-top js-product-carousel-2">
            {% for item in object_list %}
            <div class="mirora-product">
              <div class="product-img">

                {% if item.image %}
                <img src="{{ item.image.url }}" alt="Product" class="primary-image" />
                {% endif %}

                {% if item.image_fata %}
                <img src="{{ item.image_fata.url }}" alt="Product" class="secondary-image" />
                {% endif %}

                <div class="product-img-overlay">
                  <span class="product-label discount"> </span>
                  <!-- <a data-toggle="modal" data-target="#productModal" class="btn btn-transparent btn-fullwidth btn-medium btn-style-1">Quick View</a> -->
                </div>
              </div>
              <div class="product-content text-center">
                <span>{{ item.get_category_display }}</span>
                <h4>
                  <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                </h4>
                <div class="product-price-wrapper">
                  <span class="money">{{ item.price }} LEI</span>
                </div>
              </div>
              <div class="mirora_product_action text-center position-absolute">

                <p>
                  {{ item.description }}
                </p>

                <div class="product-action">
                  <a class="add_cart cart-item action-cart" href="{{ item.get_add_to_cart_url }}" title="wishlist">
                    <span>Add to cart</span>
                  </a>

                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Most Viewed Product area End -->

  <!-- Banner area Start -->
  <section class="banner-area banner-bg-1 ptb--80 ptb-md--60">
    <div class="banner-box text-center">
      <h2 class="banner__name">New Trending Collection</h2>
      <p class="banner__text mb--50 mb-md--20">
        Consideram ca, Cutare & Cutare
      </p>
      <a href="{% url 'core:shop-list' %}" class="btn btn-bordered btn-style-1">Shop Now</a>
    </div>
  </section>
  <!-- Banner area End -->

  {% for item in object_list %}
  <!-- Modal Start -->
  <!-- <div class="modal fade product-modal" id="productModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">Close</span>
          </button>
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-md-6 mb-sm--20">
                <div class="tab-content product-thumb-large">

                  {% if item.image %}
                  <div id="thumb1" class="tab-pane active show fade">
                    <img src="{{ item.image.url }}" alt="product thumb" />
                  </div>
                  {% endif %}

                  {% if item.image_lateral1 %}
                  <div id="thumb2" class="tab-pane fade">
                    <img src="{{ item.image_lateral1.url }}" alt="product thumb" />
                  </div>
                  {% endif %}

                </div>
                <div class="product-thumbnail">
                  <div class="thumb-menu" id="modal-thumbmenu">


                    <div class="thumb-menu-item">
                      <a href="#thumb1" data-toggle="tab" class="nav-link active">
                        <img src="{{ item.image.url }}" alt="product thumb" />
                      </a>
                    </div>

                    <div class="thumb-menu-item">
                      <a href="#thumb2" data-toggle="tab" class="nav-link">
                        <img src= alt="product thumb" />
                      </a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-7 col-md-6">
                <div class="modal-box product">
                  <h3 class="product-title">{{ item.title }}</h3>

                  <ul class="product-detail-list list-unstyled mb--20">
                    <li>Category: <a href="">Apple</a></li>
                    <li>Product Code: Watches</li>
                    <li>Reward Points: 600</li>
                    <li>Availability: In Stock</li>
                  </ul>
                  <div class="product-price border-bottom pb--20 mb--20">
                    <span class="regular-price">$100.50</span>
                    <span class="sale-price">$98.98</span>
                  </div>

                  <div class="product-action-wrapper mb--20">
                    <div class="product-action-top d-flex align-items-center mb--20">
                      <div class="quantity">
                        <input type="number" class="quantity-input" name="qty" id="qty" value="1" min="1" />
                      </div>
                      <button type="button" class="btn btn-medium btn-style-2 add-to-cart">
                        Add To Cart
                      </button>
                    </div>
                  </div>
                  <p class="product-tags">
                    Tags: <a href="shop.html">Sport</a>,
                    <a href="shop.html">Luxury</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Modal End -->
  {% endfor %}


  <!-- Newsletter area End -->
  <div class="newsletter-area pt--40 pb--80 pt-md--30 pb-md--60">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-10">
          <div class="newsletter text-center">
            <h3 class="color--white">Subscribe to Newsletter</h3>
            <p>
              Typi non habent claritatem insitam est usus legentis in qui facit
              eorum claritatem, investigationes demonstraverunt lectores legere
              me lius quod legunt saepius.
            </p>

            <form class="newsletter-form validate mt--40" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&id=05d85f18ef" method="post" id="mc-embedded-newsletter-form" name="mc-embedded-newsletter-form"
              target="_blank" novalidate="">
              <input type="email" name="email" id="sub_email" placeholder="Enter your email address here.." class="newsletter-form__input" />
              <input type="submit" value="Subscribe" class="btn newsletter-btn btn-style-1" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Newsletter area End -->
</div>
<!-- Main Content Wrapper Start -->

<!-- Scroll To Top Start -->


<div class="elfsight-app-13803853-d82a-47d0-ba01-896dfddf5e9b"></div>

{% endblock content %}
