{% extends 'base.html' %} {% block content %}

<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
  <div class="shop-area pt--40 pb--80 pt-md--30 pb-md--60">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-12">
              <!-- Shop Toolbar Start -->
              <div class="shop-toolbar">
                <div class="product-view-mode" data-default="list">
                  <a class="grid-2" data-target="gridview-2" data-toggle="tooltip" data-placement="top" title="2">2</a>
                  <a class="grid-3" data-target="gridview-3" data-toggle="tooltip" data-placement="top" title="3">3</a>
                  <a class="grid-4" data-target="gridview-4" data-toggle="tooltip" data-placement="top" title="4">4</a>
                  <a class="grid-5" data-target="gridview-5" data-toggle="tooltip" data-placement="top" title="5">5</a>
                  <a class="activate list" data-target="listview" data-toggle="tooltip" data-placement="top" title="5">List</a>
                </div>

              </div>
              <!-- Shop Toolbar End -->
            </div>
          </div>

          <!-- Main Shop wrapper Start -->
          <div class="shop-product-wrap listview row no-gutters">
            {% for item in object_list %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
              <div class="mirora-product mb-md--10">
                <div class="product-img">
                  {% if item.image %}
                  <img src="{{ item.image.url }}" alt="Product" class="primary-image" />
                  {% endif %}
                  {% if item.image_lateral1 %}
                  <img src="{{ item.image_lateral1e.url }}" alt="Product" class="secondary-image" />
                  {% endif %}
                  <div class="product-img-overlay">
                    <span class="product-label discount">
                      {{ item.get_label_display }}
                    </span>
                  </div>
                </div>
                <div class="product-content text-center">
                  <span>{{ item.get_category_display }}</span>
                  <h4>
                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                  </h4>
                  <div class="product-price-wrapper">
                    <span class="money">{{ item.price }} LEI</span>
                  </div>
                </div>
                <div class="mirora_product_action text-center position-absolute">
                  <p>
                    {{ item.description }}
                  </p>

                  <div class="product-action">
                    <a class="add_cart cart-item action-cart" href="{{ item.get_add_to_cart_url }}" title="wishlist"><span>Add to cart</span></a>
                  </div>
                </div>
              </div>
              <div class="mirora-product-list">
                <div class="product-img">
                  {% if item.image %}
                  <img src="{{ item.image.url }}" alt="Product" class="primary-image" />
                  {% endif %}
                  {% if item.image_lateral1 %}
                  <img src="{{ item.image_lateral1.url }}" alt="Product" class="secondary-image" />
                  {% endif %}
                  <div class="product-img-overlay">
{% if item.label %}
                    <span class="product-label discount">
                      {{ item.get_label_display }}
                    </span>
{% endif %}
                    <!-- <a data-toggle="modal" data-target="#productModal" class="btn btn-transparent btn-fullwidth btn-medium btn-style-1">Quick View</a> -->
                  </div>
                </div>
                <div class="product-content">
                  <span>{{ item.get_category_display }}</span>
                  <h4>
                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                  </h4>

                  <p class="product-desc">
                    {{ item.description }}
                  </p>
                  <div class="product-price-wrapper">
                    <span class="money">{{ item.price }} LEI</span>

                    <div class="product-action">
                      <a class="add_cart cart-item action-cart" href="{{ item.get_add_to_cart_url }}" title="wishlist"><span>Add to cart</span></a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            <!-- Main Shop wrapper End -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Content Wrapper Start -->

  <div class="elfsight-app-13803853-d82a-47d0-ba01-896dfddf5e9b"></div>


  {% endblock content %}
</div>
