{% extends "base.html" %} 
{% load static %} 
{% block content %}

<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
  <div class="faq-area pt--40 pb--70 pt-md--30 pb-md--50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="accordion" class="accordion">
            <div class="card accordion__single open">
              <div class="card-header accordion__header" id="headingOne">
                <a
                  class="btn btn-link accordion__link"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Introducere
                </a>
              </div>
              <div
                id="collapseOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.content_terms }} {% endfor %}
                </div>
              </div>
            </div>
            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingTwo">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="true"
                  aria-controls="collapseTwo"
                >
                  DEFINITII
                </a>
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.definitii }} {% endfor %}
                </div>
              </div>
            </div>
            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingThree">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="true"
                  aria-controls="collapseThree"
                >
                  DISPOZIȚII GENERALE
                </a>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.dispozitii_generale }}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingFour">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseFour"
                  aria-expanded="true"
                  aria-controls="collapseFour"
                >
                  REGULI DE UTILIZARE A SITEULUI
                </a>
              </div>
              <div
                id="collapseFour"
                class="collapse"
                aria-labelledby="headingFour"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.reguli_de_utilizare }}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingFive">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseFive"
                  aria-expanded="true"
                  aria-controls="collapseFive"
                >
                  PROPRIETATE INTELECTUALĂ ȘI INDUSTRIALĂ
                </a>
              </div>
              <div
                id="collapseFive"
                class="collapse"
                aria-labelledby="headingFive"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.proprietate_intelectuala }} {% endfor %}
                </div>
              </div>
            </div>
            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingSix">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseSix"
                  aria-expanded="true"
                  aria-controls="collapseSix"
                >
                  INFORMAȚIILE PREZENTATE PE SITE
                </a>
              </div>
              <div
                id="collapseSix"
                class="collapse"
                aria-labelledby="headingSix"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.informatiile_prezentate }} {% endfor %}
                </div>
              </div>
            </div>
            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingSeven">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseSeven"
                  aria-expanded="true"
                  aria-controls="collapseSeven"
                >
                  POLITICA DE VÂNZARE ONLINE
                </a>
              </div>
              <div
                id="collapseSeven"
                class="collapse"
                aria-labelledby="headingSeven"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.politica_de_vanzare }}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingEight">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseEight"
                  aria-expanded="true"
                  aria-controls="collapseEight"
                >
                  CONTUL
                </a>
              </div>
              <div
                id="collapseEight"
                class="collapse"
                aria-labelledby="headingEight"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.contul }} {% endfor %}
                </div>
              </div>
            </div>
            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingNine">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseNine"
                  aria-expanded="true"
                  aria-controls="collapseNine"
                >
                  COMANDA
                </a>
              </div>
              <div
                id="collapseNine"
                class="collapse"
                aria-labelledby="headingNine"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.comanda }} {% endfor %}
                </div>
              </div>
            </div>
            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingTen">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseTen"
                  aria-expanded="true"
                  aria-controls="collapseTen"
                >
                  LIVRAREA. TRANSFERUL PROPRIETĂŢII ŞI AL RISCURILOR
                </a>
              </div>
              <div
                id="collapseTen"
                class="collapse"
                aria-labelledby="headingTen"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.livrarea }} {% endfor %}
                </div>
              </div>
            </div>
            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingEleven">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseEleven"
                  aria-expanded="true"
                  aria-controls="collapseEleven"
                >
                  TRANSFERUL PROPRIETATII
                </a>
              </div>
              <div
                id="collapseEleven"
                class="collapse"
                aria-labelledby="headingEleven"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.transferul_proprietatii }} {% endfor %}
                </div>
              </div>
            </div>
            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingTwelve">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseTwelve"
                  aria-expanded="true"
                  aria-controls="collapseTwelve"
                >
                  FACTURAREA
                </a>
              </div>
              <div
                id="collapseTwelve"
                class="collapse"
                aria-labelledby="headingTwelve"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.facturare_plata }} {% endfor %}
                </div>
              </div>
            </div>
            
            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingThirteen">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseThirteen"
                  aria-expanded="true"
                  aria-controls="collapseThirteen"
                >
                  CONFORMITATEA PRODUSELOR
                </a>
              </div>
              <div
                id="collapseThirteen"
                class="collapse"
                aria-labelledby="headingThirteen"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.conformitatea_produselor }} {% endfor %}
                </div>
              </div>
            </div>

            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingFourteen">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseFourteen"
                  aria-expanded="true"
                  aria-controls="collapseFourteen"
                >
                  DENUNTARE
                </a>
              </div>
              <div
                id="collapseFourteen"
                class="collapse"
                aria-labelledby="headingFourteen"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.dreptu_denuntare }} {% endfor %}
                </div>
              </div>
            </div>

            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingFifthteen">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseFifthteen"
                  aria-expanded="true"
                  aria-controls="collapseFifthteen"
                >
                  PRELUCRAREA DATELOR
                </a>
              </div>
              <div
                id="collapseFifthteen"
                class="collapse"
                aria-labelledby="headingFifthteen"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.gdpr }} {% endfor %}
                </div>
              </div>
            </div>

            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingSixteen">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseSixteen"
                  aria-expanded="true"
                  aria-controls="collapseSixteen"
                >
                  PROMOVARE PRODUSE SI OFERTE
                </a>
              </div>
              <div
                id="collapseSixteen"
                class="collapse"
                aria-labelledby="headingSixteen"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.promovare_produse_si_oferte }} {% endfor %}
                </div>
              </div>
            </div>

            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingSeventeen">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseSeventeen"
                  aria-expanded="true"
                  aria-controls="collapseSeventeen"
                >
                  RASPUNDERE  
                </a>
              </div>
              <div
                id="collapseSeventeen"
                class="collapse"
                aria-labelledby="headingSeventeen"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.raspundere }} {% endfor %}
                </div>
              </div>
            </div>

            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingEighteen">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseEighteen"
                  aria-expanded="true"
                  aria-controls="collapseEighteen"
                >
                  SESIZARI
                </a>
              </div>
              <div
                id="collapseEighteen"
                class="collapse"
                aria-labelledby="headingEighteen"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.sesizari }} {% endfor %}
                </div>
              </div>
            </div>

            <div class="card accordion__single">
              <div class="card-header accordion__header" id="headingNineteen">
                <a
                  class="btn btn-link accordion__link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseNineteen"
                  aria-expanded="true"
                  aria-controls="collapseNineteen"
                >
                  ULTIMA LEGISLATIE
                </a>
              </div>
              <div
                id="collapseNineteen"
                class="collapse"
                aria-labelledby="headingNineteen"
                data-parent="#accordion"
              >
                <div class="card-body accordion__body">
                  {% for terms in object_list %} {{ terms.ultima_legislatie }} {% endfor %}
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Content Wrapper Start -->
<div class="elfsight-app-e7c64518-d59b-40df-af45-b929699d7d8d"></div>

{% endblock content %}
